{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'registration_assets/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'registration_assets/css/style.css' %}">
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                        <form method= "POST" class="signup-form"> {% csrf_token %}
                            <h2 class="form-title">Edit Profile</h2>
                            <!--<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">-->
                            {{ edit_form.as_p }}
						    <!--<span class="focus-input100"></span>-->
					        <!--</div>-->
<!---->
                            <button type="Submit" class="form-submit">Save</button>
                        </form>
                </div>
            </div>
        </section>
    </div>
</body>
