  {% extends "base.html"%}

{% load static%}
{% block content %}
  <html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>Nantes - Onepage Business Template</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'history_assets/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/f'ont-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="{% static 'history_assets/css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'history_assets/css/owl.theme.default.min.css' %}"  rel="stylesheet">
		<link href="{% static 'history_assets/css/animate.css' %}" rel="stylesheet">
		<link href="{% static 'history_assets/css/style.css' %}" rel="stylesheet">
	</head>






    <body>





    <div class="site-section block-13 bg-light">


    <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7">
            <h2 class="font-weight-light text-black text-center">Hotel History</h2>
          </div>
        </div>

        {% for single in allHistory %}

        <div class="nonloop-block-13 owl-carousel">

          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 mb-5">
                  <img src="/media/{{single.hotel.hotel_image}}" alt="Image" class="img-md-fluid">
                </div>
                <div class="overlap-left col-lg-6 bg-white p-md-5 align-self-center">
                  <p class="text-black lead">   Hotel:    {{single.hotel.hotel_name}} <br>
                                                From:  {{single.date_from}} <br>
                                                To:   {{single.date_to}} <br>
                                                Number of Persons:  {{single.num_of_person}}</p>
                  <p class="">&mdash; <em>{{single.user.username}}</em>, <a href="/">Traveler</a></p>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}

        </div>
      </div>
    </div>


    </body>


</html>

{% endblock content%}