{% extends "base.html"%}


{% load i18n static %}


{% block extra_styles %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />-->

{% load static %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap.min.css'%}">-->
<link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css'%}">
<style>



#icon {
    width: 30%;
    margin: 0 34%;
}
#header
{
      background: white;
}

#id_password
{
background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
</style>

{% endblock %}

{{ form.media }}


{% block content %}
<div class="wrapper fadeInDown" style="background : white !important;">
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}



<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="fadeIn first">
      <img src="{% static 'login/imgs/icon-ftm.svg'%}" id="icon" alt="User Icon" />
    </div>

  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>
</div>

</div>

<script src="{% static 'login/js/jquery.min.js'%}"></script>
<script src="{% static 'login/js/bootstrap.min.js'%}"></script>


{% endblock %}

